.menuCustomMode{
    box-sizing: border-box;
    color: #abb3b2;
    background-color: #272522;
    padding: 1em;
    border-radius: 5px;

    h5{
        margin-bottom: 7%;
    }

    input:placeholder-shown {
        border: 1px solid red;
        background-color: #ff000029;
    }
    input::placeholder{
        color: rgb(206, 206, 206);
    }

    .startgamebutton,.backbutton{
        width: 100%;
        background-color: #abb3b2;
        color: #272522;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 5px;
    }

    .startgamebutton{
        margin-bottom: 1%;
    }

    
}